h1{
    text-align: center;
    
}
body{
    
    
}
img:hover{
    background-color: blue;
    
}
img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    background-size: 100% 100%;
    
    
}